# Auto detect text files and perform LF normalization
* text=auto

# Unity WebGL build files (Git LFS)
Chimp[[:space:]]War/Build/ChimpWar.data filter=lfs diff=lfs merge=lfs -text
Chimp[[:space:]]War/Build/ChimpWar.wasm filter=lfs diff=lfs merge=lfs -text
